<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="UserRepositoryApp.Properties.Settings.UserRepositoryApp_DataContextConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Acer-PC\source\repos\UserRepositoryApp-master\UserRepositoryApp\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="ContextUser" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=UserRepositoryApp.ContextUser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>